.leaderboard-container {
  margin: 20px;
  padding: 10px;
  background-color: #f0f0f0;
}

.leaderboard-item {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  padding: 5px;
  background-color: #ffffff;
  border: 1px solid #ccc;
}

.username {
  font-weight: bold;
  margin-right: 10px;
}

.trivia-score {
  font-weight: normal;
}
ֿ .selectd-option {
  background-color: transparent;
}
.answerButton {
  display: block;
  margin: 10px 0;
  padding: 10px 20px;
  background-color: #007bff !important;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}
.correct {
  background-color: green !important;
}
.incorrect {
  background-color: red !important;
}
.containerStyle {
  text-align: center;
  margin: auto;
  max-width: 300px;
  padding: 20px;
}

.headingStyle {
  font-size: 24px;
  margin-bottom: 20px;
}

.formStyle {
  display: flex;
  flex-direction: column;
}

.inputStyle {
  margin: 10px 0;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.submitButtonStyle {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}

.forgotPasswordButtonStyle {
  margin-top: 10px;
}

.linkStyle {
  text-decoration: none;
  color: #007bff;
}
.containerStyle {
  text-align: center;
  margin: auto;
  max-width: 300px;
  padding: 20px;
}

.headingStyle {
  font-size: 24px;
  margin-bottom: 10px;
}

.subHeadingStyle {
  font-size: 18px;
  margin-bottom: 20px;
}

.dashboardButtonStyle {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  margin: 10px 0;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.dashboardButtonStyle a {
  text-decoration: none;
  color: #fff;
}

.dashboardButtonStyle:hover {
  background-color: #0056b3;
}

.logoutButtonStyle {
  background-color: #d9534f;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  margin: 10px 0;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.logoutButtonStyle:hover {
  background-color: #c9302c;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

li a {
  display: block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

li a:hover {
  background-color: #0056b3;
}
h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
}

p.score {
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* button:hover {
  background-color: #0056b3;
} */

.selected-option {
  background-color: #28a745;
}

/* .correct {
  background-color: #28a745 
  color: #fff;
  font-weight: bold;
} */

.triviaGameContainer {
  display: flex;
  flex-direction: column;
}
